src/.vs/**
src/sk-phi2-localserver-lmstudio/obj/**
src/sk-phi2-localserver-lmstudio/bin/**
src/sk-customllm/bin/**
src/sk-customllm/obj/**
src/sk-ollama-localserver-ubuntu/bin/**
src/sk-ollama-localserver-ubuntu/obj/**
src/sk-ollama-localserver-rpi/bin/**
src/sk-ollama-localserver-rpi/obj/**
/src/sk-ollamacsharp/bin/Debug/net8.0
/src/sk-ollamacsharp/obj
/src/sk-customLLM-customHttpClient/bin/Debug/net8.0
/src/sk-customLLM-customHttpClient/obj
